﻿body {
    margin: 0;
    padding: 0;
    background-color: #666;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: 10;
    /*transition: all .2s ease-in;*/
}

.comic-card {
    box-sizing: border-box;
    width: 570px;
    position: absolute;
    left: 50%;
    margin-left: -285px;
    top: -50%;
    margin-top: -150px;
    font: bold 14px sans-serif;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.12);
    padding-bottom: 10px;
    transition: all .2s ease-in;
    z-index: 100;
}

.comic-card > h2 {
    text-align: center;
}

.comic-card > div {
    text-align: center;
}

.comic-card button {
    padding: 10px 30px;
    color: #fff;
    background-color: #333;
    border: 2px solid #333;
    border-radius: 4px;
    font-size: 1.3rem;
    outline: none;
}

.comic-card button:hover {
    color: #333;
    background-color: #fff;
    cursor: pointer;
}

div#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    height: 250px;
    width: auto;
}

    img:hover {
        cursor: pointer;
    }

figcaption {
    color: white;
    background-color: rgba(0,0,0, 0.7);
    padding: 10px 5px;
    position: relative;
    top: -40px;
    text-align: center;
}

.fill-up {
    width: 250px;
}

#in-afwachting {
    color: white;
    font-size: 3rem;
}
