* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

nav {
    height: 60px;
    background-color: dodgerblue;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    /* display: grid; */
    /* grid-template-columns: 30% 70%; */
}

nav a {
    text-decoration: none;
    color: #fff;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

nav a:hover {
    cursor: pointer;
    color: #e6e6e6;
}

nav a:nth-child(n+2) {
    margin-left: 10px;
}


/* nav div:nth-child(2) {
    display: grid;
}

nav div:nth-child(2) a {
    justify-self: left;
} */

.inlog-dialog {
    background-color: #fff;
    width: 280px;
    border: 1px solid #999;
    left: 50%;
    margin-left: -140px;
    top: 150px;
    position: relative;
    z-index: 2;
    opacity: 0;
    display: none;
    transition: transition .3s ease in;
    border-radius: 4px;
    transition: opacity 0.3s;
}

.inlog-dialog * {
    width: 100%;
    margin-bottom: 10px;
}

.inlog-dialog button,
.inlog-dialog input {
    height: 40px;
}

.inlog-dialog .dialog-heading {
    background-color: dodgerblue;
    color: #fff;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 2rem;
}

.inlog-dialog .dialog-body {
    padding: 20px 10px 10px 10px;
}

.inlog-dialog .dialog-body .loginBtn {
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 64px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
}

.inlog-dialog .dialog-body .loginBtn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
}

.inlog-dialog .dialog-body .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;
}

.inlog-dialog .dialog-body .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png") 6px 6px no-repeat;
}

.inlog-dialog .dialog-body .loginBtn--facebook:hover,
.inlog-dialog .dialog-body .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}

.inlog-dialog .dialog-body .loginBtn--google {
    font-family: "Roboto", Roboto, arial, sans-serif;
    background: #DD4B39;
}

.inlog-dialog .dialog-body .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png") 6px 6px no-repeat;
}

.inlog-dialog .dialog-body .loginBtn--google:hover,
.inlog-dialog .dialog-body .loginBtn--google:focus {
    background: #E74B37;
}

.inlog-dialog .dialog-body p {
    text-align: center;
    line-height: 40px;
}

.inlog-dialog .dialog-body input {
    padding-left: 5px;
}

.inlog-dialog .dialog-body .btn-login {
    background-color: dodgerblue;
    color: #fff;
    font-size: 1.2rem;
    border: 1px solid dodgerblue;
    margin-top: 15px;
}

.inlog-dialog .dialog-body .btn-login:hover {
    background-color: #fff;
    color: dodgerblue;
    border: 2px solid dodgerblue;
}


/* Google info */

#container {
    display: flex;
    justify-content: center;
}

#foto {
    text-align: center;
    height: 100px;
}

#content {
    width: 600px;
    padding: 30px 10px;
    border-radius: 4px;
    background-color: #e6ecff;
    border: 2px solid #999;
    font-size: 1.3rem;
    display: none;
    margin-top: 50px;
    box-shadow: 2px 2px 4px #999;
}

#content>div {
    margin-bottom: 8px;
}

div>label:nth-child(1) {
    text-align: right;
    padding-right: 5px;
    width: 225px;
}

label {
    display: inline-block;
}