﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Marvel Characters</title>
    <link href="~/css/marvel.css" rel="stylesheet" />
</head>

<body>
    <div>
        @RenderSection("body")
    </div>

    @RenderSection("scripts", false)
</body>
</html>
