﻿/* table {
    border-collapse: collapse;
    border: 0.05em solid black;
    border-radius: 5em / 5em;
    background-color: #b6ff00;
}

table caption {
   font-weight: bold;
   font-size: 125%;
   text-transform: uppercase;
}

.footnote {
    font-size: 75%;
    color: #666;
}

table caption,
table th,
table td,
.footnote {
    font-family: Arial, Helvetica, sans-serif;
    padding: .5em;
}

table td {
    border: solid 1px #C35E4D;
}

table tbody th {
    color: #630;
    border-bottom: solid 1px #C35E4D;
}

table thead th {
    background: #ffe4cd;
    border-bottom: solid 3px #E75D49;
}

th span:hover {
    cursor: pointer;
    color: white;
    background-color: #630;
} */


.container {
    padding: 30px;
}

.container > table + table {
    margin-top: 50px;
}

table {
    position: relative;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

table tr:nth-child(even) {
    background: #EEE;
}

table td, table th {
    text-align: left;
    padding: 10px 15px;
}

table th:not([scope="row"]),
table caption {
    text-transform: uppercase;
    background: #19283f;
    color: #fff;
}

table caption {
    padding: 10px 0;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

table i {
    padding: 0 5px;
}

table i:hover {
    color: #999;
    cursor: pointer;
}
