﻿@section body {

    <div class="container">
        <section class="inner-container">


            <h1>De gazet</h1>

            <div id="marquee">
                <div id="scroll-area">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, facilis cumque enim deserunt quaerat
                    quam facere ea qui velit, earum dolorem, obcaecati laboriosam corporis atque eius aliquid veniam hic vero!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, facilis cumque enim deserunt quaerat
                    quam facere ea qui velit, earum dolorem, obcaecati laboriosam corporis atque eius aliquid veniam hic vero!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, facilis cumque enim deserunt quaerat
                    quam facere ea qui velit, earum dolorem, obcaecati laboriosam corporis atque eius aliquid veniam hic vero!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, facilis cumque enim deserunt quaerat
                    quam facere ea qui velit, earum dolorem, obcaecati laboriosam corporis atque eius aliquid veniam hic vero!
                </div>
            </div>

            <div id="commandbar">
                <button id="btnSpeedUp">Versnellen</button>
                <button id="btnSlowDown">Vertragen</button>
            </div>

        </section>
    </div>

}


@section scripts {
    <script src="~/js/events.js"></script>
}