﻿* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

h1 {
    margin-bottom: 1em;
    text-align: center;
    width: 250px;
}

#marquee {
    position: relative;
    width: 250px;
    height: 200px;
    background-color: yellow;
    padding: 5px;
    overflow: hidden;
}

#marquee #scroll-area {
    position: absolute;
    top: 0;
    padding: 5px;
}

#commandbar {
    margin: 1em 0 0 0;
    text-align: center;
    width: 250px;
}
