﻿@section body {

    @*
        deze modal vul ik met alle titels als er zijn
    *@
    <div id="overlay">
        <div class="comic-card">
            <h2></h2>
            <ul id="titels"></ul>
            <div>
                <button class="btn-close">Close</button>
            </div>
        </div>
    </div>



    <div id="container">
        <span id="in-afwachting">Even geduld, fotootjes komen zo ...</span>
        
        <!--
            Ik insert alle foto's voor deze eerste div met JS
            Omdat ik flexbox gebruik en 'justify-content:flex around' heb ik deze divs geplaats om extra vulling
            te creëren zodat, mochten er maar 2 pics op de laatse rij staan ze toch links beginnen en niet in het midden staan
            (door justify-content:flex around) => is ineens al responsive
            -->
        <div class="fill-up"></div>
        <div class="fill-up"></div>
        <div class="fill-up"></div>
        <div class="fill-up"></div>
        <div class="fill-up"></div>
    </div>
}

@section scripts {
    <script src="~/js/datacontext.js"></script>
    <script src="~/js/marvel.js"></script>
}